<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='.' method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit">
    </form>
    <table>
        <tr>
            <th>Time</th>
            <th>Diameter</th>
        </tr>
        {% for diameter_at_time in dataset %}
        <tr>
            <td>{{ diameter_at_time.time }}</td>

            <td>{{ diameter_at_time.diameter }}</td>
            <td><a href = "{% url 'delete' id=diameter_at_time.id %}">delete</a></td>
        </tr>
        {% endfor %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
{% endif %}
    </table>
    <button type="button" class="btn btn-info"><a href = "{% url 'plot' %}">I'm done</a></button>
    <button type="button" class="btn btn-info"><a href = "{% url 'data' %}">Data</a></button>
</body>
</html>