<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='.' method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit">
    </form>
    <table>
        <tr>
            <th>Time</th>
            <th>Volume</th>
        </tr>
        {% for volume_at_time in dataset %}
        <tr>
            <td>{{ volume_at_time.time }}</td>

            <td>{{ volume_at_time.volume }}</td>
            <td><a href = "{% url 'delete' id=volume_at_time.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <button type="button" class="btn btn-info"><a href = "{% url 'plot' %}">I'm done</a></button>
</body>
