.welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-content h1{
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.centered-container button {
    margin: 0 auto;
}
.centered-logo {
    display: block;
    margin: 0 auto;
    animation: fadeIn 2s ease-in-out;
    width: 200px;
    height: 200px;
}

.content h3{
    animation: fadeIn 2s ease-in-out;
}
.welcome-screen h1 {
  font-size: 3rem;
  animation: fadeIn 2s ease-in-out;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}