
{% extends "../app/base.html" %}

{% block content %}

<a href="{% url 'base' %}" class="btn btn-primary">Login Screen</a>
<div class="container">
    <form action="." method="POST" class="mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th>Time(s)</th>
                <th>Diameter(mm)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for diameter_at_time in dataset %}
            <tr>
                <td>{{ diameter_at_time.time }}</td>
                <td>{{ diameter_at_time.diameter }}</td>
                <td>
                    <a href="{% url 'delete' id=diameter_at_time.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-3">
        <button type="button" class="btn btn-info"><a href="{% url 'plot' %}">I'm done</a></button>
        <button type="button" class="btn btn-info"><a href="{% url 'data' %}">Data</a></button>
    </div>
</div>
 {% endblock %}


